.nav-bar-bottom{
    background: linear-gradient(to bottom, #f2f2f2, steelblue);
    box-shadow: 0 0 .8rem 0 rgba(0, 0, 0, .9);
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.social-icons{
    height: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
    .social-icons {
      animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}